<section class="ftco-section contact-section animated fadeIn fast">
    <div class="container mt-1">
        <div class="row m-2">
            <div class="col">
                <h2 class="mb-3 text-center">Contactanos para + Informacion</h2>
                <hr>
            </div>

        </div>
        <div class="row block-9">
            <div class="col-md-4 contact-info ftco-animate">
                <div class="row">
                    <div class="col-md-12 mb-4">

                    </div>
                    <div class="col-md-12 mb-3">

                    </div>
                    <div class="col-md-12 mb-3">
                        <p><span>Telefono :</span> <a href="#">(01) 123 4563</a></p>
                    </div>
                    <div class="col-md-12 mb-3">
                        <p><span>Correo:</span> <a href="mailto:info@gmail.com.com">info@gmail.com</a></p>
                    </div>
                    <div class="col-md-12 mb-3">
                        <p><span>Website:</span> <a href="#">GPillaca.com</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6 ftco-animate">
                <form action="#" class="contact-form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Nombre">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Correo">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Asunto">
                    </div>
                    <div class="form-group">
                        <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Mensaje"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Enviar mensaje" class="btn btn-primary py-3 px-5">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<div id="map"></div>