<section class="ftco-section animated fadeIn">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 d-flex ftco-animate">
                <div class="img img-about align-self-stretch" style="background-image: url(assets/images/bg_3.jpg); width: 100%;"></div>
            </div>
            <div class="col-md-6 pl-md-5 ftco-animate text-justify">
                <h2 class="mb-4">Bienvenido al sitio web de <small>Beauty Inside - UPC</small> </h2>
                <p>Con una experiencia y trayectoria de más de 25 años en el medio, y cursos en el exterior con las últimas técnicas y tendencias en Asesoría de Imagen, Belleza, y Peluquería; con un gran equipo profesional, y con el respaldo de las mejores
                    marcas importadas en productos de belleza; ofrece a su distinguidos clientes un novedoso Salón spa, en la mejor ubicación de Lima, con modernos y elegantes espacios, diseñados especialmente para su comodidad y relajación..!</p>
                <span class="info text-center "><strong> MISIÓN</strong></span>

                <p>
                    Brindar el mejor servicio con calidad, equipos modernos e innovación, con asesoría de imagen altamente profesional y personalizada, a través de un servicio integral, permitiendo no solo satisfacer, sino superar sus expectativas con confianza, comodidad
                    y relajación, en un ambiente cálido y agradable.
                </p>
                <span class="info text-center"> <strong>VISIÓN</strong> </span>
                <p>
                    Posicionarnos como el mejor Salón Spa en Bogotá, manteniendo un alto prestigio en todos nuestros servicios de manera integral y convirtiéndonos para el 2015 en líderes en la asesoría y satisfacción de necesidades de belleza.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-light animated fadeIn fast">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h2 class="mb-4">Nuestros expertos de belleza</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
        </div>
        <div class="row">

            <div *ngFor="let trabajador of _infoPagina.equipoTrabajo" class="col-lg-3 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="img mb-4">
                        <img [src]=" trabajador.urlImg " alt=" " class="img mb-4">
                    </div>
                    <div class="info text-center ">
                        <h3>{{ trabajador.nombreCompleto }}</h3>
                        <span class="position ">{{ trabajador.cargo }}</span>
                        <div class="text ">
                            <p>{{ trabajador.descripcion }}</p>
                            <h6><a href="#">{{ trabajador.titwer }}</a></h6>
                        </div>

                    </div>
                </div>
            </div>



        </div>
    </div>
</section>