<section class="ftco-section ftco-appointment">

    <div class="overlay">
        <p class="text-right text-justify my-2 mx-3">
            <a [routerLink]="['/productos', id ]" class="btn btn-white btn-outline-white py-1 px-2">
                Regresa..
            </a>
        </p>
    </div>
    <div class="container">

        <div class="row d-md-flex align-items-center">
            <!-- Informacion de Atencion -->
            <div class="col-md-6 d-flex align-self-stretch ftco-animate">
                <div class="appointment-info text-center p-5">
                    <div class="mb-4">
                        <h3 class="mb-3">Direccion</h3>
                        <p> Av. La molina 3554 , San Francisco, La Molina, Peru - Lima</p>
                    </div>
                    <div class="mb-4">
                        <h3 class="mb-3">Telefonos</h3>
                        <p class="day"><strong>(01) 123 4563</strong> or <strong>000 987 654 111</strong></p>
                    </div>
                    <div>
                        <h3 class="mb-3">Horaio de Atencion</h3>
                        <p class="day"><strong>Lunes - Viernes</strong></p>
                        <span>08:00 am - 09:00 pm</span>
                    </div>
                </div>
            </div>

            <!--Formulario de Reserva-->
            <div class="col-md-6 appointment pl-md-5 ftco-animate">

                <h3 class="mb-3">[ Reservas ]</h3>

                <form [formGroup]="forma" (ngSubmit)="enviarForm()" class="appointment-form">
                    <div class="row form-group d-flex">
                        <div class="col-md-6">
                            <input type="text" class="form-control is-invalid" (keypress)="soloLetras($event)" placeholder="Nombre Completo" [(ngModel)]="reserva.nombres" formControlName="nombres">
                            <div *ngIf="forma.get('nombres').errors?.required" class="invalid-feedback text-left">
                                <p>Este campo es obligatorio,ingrese un nombre</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Apellidos" [(ngModel)]="reserva.apellidos" formControlName="apellidos">
                        </div>
                    </div>

                    <div class="row form-group d-flex">
                        <div class="col-md-12">
                            <input type="text" class="form-control is-invalid" placeholder="Correo" [(ngModel)]="reserva.correo" formControlName="correo">
                            <div *ngIf="forma.get('correo').errors?.required" class="invalid-feedback text-left">
                                <p>Este campo es obligatorio.</p>
                            </div>
                            <div *ngIf="forma.get('correo').errors?.pattern" class="invalid-feedback text-left">
                                <p>Ingrese un correo valido eje: algo@domino.com .</p>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group d-flex">
                        <div class="col-md-6">
                            <div class="input-wrap">
                                <div class="icon"><span class="ion-md-calendar"></span></div>
                                <input type="text" id="appointment_date" class="form-control is-invalid" placeholder="Fecha" [(ngModel)]="reserva.fecha" formControlName="fecha">
                                <div *ngIf="forma.get('fecha').errors?.required" class="invalid-feedback text-left">
                                    <p>Seleccione una fecha.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control is-invalid" placeholder="Celular" (keypress)="soloNumeros($event)" [(ngModel)]="reserva.contacto" formControlName="contacto">
                            <div *ngIf="forma.get('contacto').errors?.required" class="invalid-feedback text-left">
                                <p>Este campo es obligatorio.</p>
                            </div>
                            <div *ngIf="forma.get('contacto').errors?.maxlength" class="invalid-feedback text-left">
                                <p>Maximo {{ forma.get('contacto').errors.maxlength.requiredLength }} numeros.</p>
                            </div>
                            <div *ngIf="forma.get('contacto').errors?.minlength" class="invalid-feedback text-left">
                                <p>Minimo {{ forma.get('contacto').errors.minlength.requiredLength }} numeros.</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea cols="30" rows="3" class="form-control" placeholder="Comentario/mensaje" [(ngModel)]="reserva.mensaje" formControlName="mensaje"></textarea>
                    </div>
                    <div class="form-group">

                        <input type="submit" [disabled]="!forma.valid" value="Confirmar Reserva" class="btn btn-white btn-outline-white py-3 px-4">
                    </div>

                </form>
                {{ forma.valid }}
            </div>


        </div>
    </div>
</section>