<div class="hero-wrap js-fullheight" style="background-image: url('assets/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-8 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                <div class="icon">
                    <a href="index.html" class="logo">
                        <span class="flaticon-flower"></span>
                        <h1>G&M SALON</h1>
                    </a>
                </div>
                <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">G&M Salon</h1>
                <p class="mb-5" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Created by <a href="#">GianmarcoPillaca.com</a></p>

                <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><a class="btn btn-white btn-outline-white px-4 py-3">Ver nuestros Servicios</a></p>
            </div>
        </div>
    </div>
</div>