<footer *ngIf="_ip.objInfoPagina" class="ftco-footer ftco-section img">
    <div class="overlay"></div>
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-3">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Sobre Nosotras </h2>

                    <p>{{ _ip.objInfoPagina.nosotras | slice:0:125 }} <strong><a [routerLink]="['about']">
                        leer mas ... </a></strong> </p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                        <li class="ftco-animate"><a [href]="_ip.objInfoPagina.twitter" target="_blank"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a [href]="_ip.objInfoPagina.fb" target="_blank"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a [href]="_ip.objInfoPagina.istagram" target="_blank"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Blog Recientes</h2>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url(assets/images/image_1.jpg);"></a>
                        <div class="text">
                            <h3 class="heading"><a>¿CONOCES EL NO MAKEUP LOOK?</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> Junio 22, 2018</a></div>
                                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url(assets/images/image_2.jpg);"></a>
                        <div class="text">
                            <h3 class="heading"><a>HAZ QUE TU MAQUILLAJE DURE TODA LA NOCHE</a></h3>
                            <div class="meta">
                                <div><a><span class="icon-calendar"></span> Julio 12, 2018</a></div>
                                <div><a><span class="icon-person"></span> Admin</a></div>
                                <div><a><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Tienes Preguntas ?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li>
                                <a href="#"><span class="icon icon-phone"></span>
                                <span class="text">{{ _ip.objInfoPagina.contacto }}</span>
                                </a>
                            </li>
                            <li><a href="#"><span class="icon icon-envelope"></span><span class="text">{{ _ip.objInfoPagina.email }}</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy; {{ anio }} All rights reserved | autor :
                    <i class="icon-heart" aria-hidden="true"></i> by
                    <a>{{ _ip.objInfoPagina.creadror }}</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>